.b-BgViolet{
    background-color: #611f69;
    color: white
}

#b-id-BgViolet{
    background-color: #611f69;
    color: white
}
#prueba {
    color: white;
    opacity: 1;
}

.b-logoslack{
    width: 2rem;
    height: 2rem;
}

.b-h2{
    color: #ecb22e;
}

#b-text-violet{
    color: #611f69;    
}

.b-Bg-beige{
    background-color:#f4ede4;
}

.b-span__color{
    color: white !important; 
    
}

.b-Font-h3{
    font-size: 3rem;
}

.b-clase-number{
    font-size: 4rem;
    color: #611f69;
}

.b-h5-size-color{
    font-size: 1rem;
    color: gray
}

.b-border-bg{ 
    border-radius: 0% 0% 30% 30%
}

.b-logoslack-footer{    
    width: 4rem;
    height: 4rem;
}

li{
    list-style-type: none;
}

