.b-BgViolet{
    background-color: #4a154b;
    color: white
}

#prueba {
    opacity: 1;
}

.b-logoslack{
    width: 2rem;
    height: 2rem;
}

.b-h2{
    color: #ecb22e;
}

#b-text-violet{
    color: #4a154b;    
}

